
/* INDEX PAGE */
.wrapper-index{
  background-image: url("../images/background-grey.svg");
  background-position: cover;
  width: 100vw;
  height: 900px;
  z-index: 0;
}
.burger{
  position: relative;
  z-index: 1;
  opacity: 1;
}
header{
  position: relative;
  z-index: 1;
  width: 100vw;
  height: 100vh;
 
}

/*PROJECT PAGE*/
.wrapper-projects{
  background-image: url("../images/background-projects.svg");
  background-position: cover;
  width: 100vw;
  height: 100vh;
}

.container-projects{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.projOne{
  background-color:pink;
}

/*ABOUT PAGE*/
.wrapper-about{
  background-image: url("../images/background-about.svg");
  background-position: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-about{
  background-color: #FFFA8A;
  width: 80vw;
  height: 80vh;

  
}

/*CONTACT PAGE*/
.wrapper-contact{
  background-image: url("../images/background-contact.svg");
  background-position: cover;
  width: 100vw;
  height: 100vh;
  border-collapse: collapse;
}
.text-contact{
  margin-top: auto;
  margin: auto;
  background-color: #E5E5E5;
  width: 40vw;
  height: 100vh;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
  .wrapper-index{
    background-image: url("../images/index-mobile.svg");
    background-position: cover;
    width: 100vw;
    height:100vh;
    z-index: 0;
  }
}
