@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

:root{
  --header-font: 'DM Serif Display', serif;
  --paraG-font:  'Quicksand', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */

.header{
  position: fixed;
  overflow: scroll;
  top: 0;
  background-color: #B3B3B3;
  
 }
 .wrapper-index{
   background-color: #B3B3B3;
 }

/* FIRST PAGE */
.container-index{
  background-image: url("../images/background-grey.svg");
  background-position: initial ;
  width: 100vw;
  height: 790px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.index-name{
font-family: var(--header-font);
color: #FAFF00;
font-size: 4.5em;
letter-spacing: 0.06em;
padding-left: 7vw;
}

.index-header{
  font-family: var(--paraG-font);
  color: #46038C;
  font-size: 3em;
  font-weight: normal;
  padding-left: 7vw;
}



/*ABOUT PAGE*/
.wrapper-about{
  background-image: url("../images/background-about.svg");
  background-position: initial;
  width: 100vw;
  height: 790px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container{
 
  background-color: #FFFA8A;
  font-family: var(--paraG-font);
  color: #2b0257;
  width: 80vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.profile{
  padding: 2%;
  width: 30vw;
  height: 40vh;
  margin: auto 0;
}

.text-head{
  padding: 2%;
  width: 40vw;
  height: 40vh;
  
}

/*PROJECT PAGE*/
.wrapper-projects{
  background-image: url("../images/background-projects.svg");
  background-position: contain;
  width: 100vw;
  height: 770px;
}

.container-projects{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.projOne{
  background-color:pink;
}

/*CONTACT PAGE*/
.wrapper-contact{
  background-image: url("../images/background-contact.svg");
  background-position: contain;
  width: 100vw;
  height: 770px;
}
.text-contact{
  margin-top: auto;
  margin: auto;
  background-color: #E5E5E5;
  width: 40vw;
  height: 100vh;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
  .wrapper-index{
    background-image: url("../images/index-mobile.svg");
    background-position: cover;
    width: 100vw;
    height:100vh;
    z-index: 0;
  }
}
